<a href="https://colab.research.google.com/github/Yegee1210/yegeelee/blob/master/2%EC%A3%BC%EC%B0%A8_%EA%B3%BC%EC%A0%9C_20200528%EC%9D%98_%EC%82%AC%EB%B3%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. 다음 변수a, 변수b, 변수c 의 자료형을 출력하세요.

In [0]:
a='str'
b=123
c=True
print(a)
print(b)
print(c)

str
123
True

2. 다음 변수  num_list 에 있는 요소를 모두 더한 값을 for 문을 활용하여 변수 answer에 저장하고 그 값을 출력하세요.

In [0]:
num_list = [1,2,3,4,5,6,7,8,9]
 
sum = 0
for i in range(len(num_list)):
   sum= sum+(i+1)
   print(sum)

1
3
6
10
15
21
28
36
45

3. 다음 변수 data를 슬라이스 해서  year(년), month(월), day(일)을 각각 출력하세요. (출력: 2020 05 11)

In [0]:
data='20200511'
print("year:", data[0:4])
print("month:", data[4:6])
print("day:",data[6:8])

year: 2020
month: 05
day: 11

4. 다음 변수 summmary에 1부터 100까지 모두 더한 값을 저장하여 출력하세요.

In [0]:
summary=0
for i in range(1,101,1):
    summary = summary +i
print(summary)

5050

5. 다음 변수 hangul의 문자열을 거꿀로 출력하세요. (출력 ; 사바마라다나가)

In [0]:
hangul='가나다라마바사'
hangul=''.join(reversed(hangul))
print(hangul)

사바마라다나가

6. 다음 변수 num에는 공백으로 구분된 4개의 점수가 들어 있습니다. 평균을 구해서 출력하세요.

In [0]:
num="70 50 90 70"
str = num
print(type(str))
list_str=str.split()
print(type(list_str))
print(list_str)

list_str = [int (i) for i in list_str]
print(list_str)

result=sum(list_str)
print(result)

averge=sum(list_str)/4
print("평균", averge)

<class 'str'>
<class 'list'>
['70', '50', '90', '70']
[70, 50, 90, 70]
280
평균 70.0

7. 다음 변수 n에 입력한 값이 짝수 일 경우, "짝수"를, "짝수"가 아닐 경우 "짝수가 아닙니다."를 판별하여 출력하세요.

In [0]:
n=int(input('숫자를 입력해주세요'))
if n%2==0:
  print("짝수")
else:
   print("짝수가 아닙니다.")

숫자를 입력해주세요26
짝수

8. 직사각형의 대각선의 길이를 구하는 공식은 밑변의 제곱 + 높이의 제곱 = 대각선의 제곱이다. 다음 변수 list_08에는 하나의 직사각형의 밑변과 높이가 저장되어 있습니다. 각각 밑변이 밑변이 3이고 높이가 4일 떄, 직사각형의 대각선의 제곱의 길이를 출력하세요.

In [0]:
import math 
list_08=[3,4]
x=list_08[0]
y=list_08[1]
print("출력:",math.sqrt(x**2+y**2))

출력: 5.0

9.입력받은 숫자가 소수이닞 아닌지 출력하는 프로그램을 작성해주세요. (출력 : 소수 or 소수가 아닙니다.)

In [0]:
def isprime(n):
  if n <= 1 : 
    return Flase
  for i in range(2, n):
    if n % i == 0:
        return 
  return True

def prime_number():
  num_10=int(input("숫자를 입력해주세요."))
  if isprime(num_10):
    print(num_10, "소수 입니다.")
  else: 
    print(num_10, "소수가 아닙니다.")

if __name__=="__main__":
    prime_number()

숫자를 입력해주세요.10
10 소수가 아닙니다.

#인공지능 수학문제

1.다음 공식은 hypothesis를 구하는 공식입니다. 다음과 같이 값이 주어졌을때 H(x)의 값을 구하시오.
w=3 
x=10
b=1 
h(x)=Wx+b
** 답 : 31 **

2.다음 공식은 Cost를 구하는 공식입니다. 다음과 같이 값이 주어졌을때 cost의 값을 구하세요.

W = 2
x = [2, 4, 8]
y = [5, 12, 21]
(tip: x1=2, y1=5 / x2=4, y2=12 / x3=8, y3=21)
cost(W)=1n∑i=1n(Wx(i)−y(i))2
**정답 : 14 **

3번 (Logistic regression sigmoid function)
다음 공식은 로지스틱 시그모이드 함수입니다. x가 양의 무한대로 갈때 f(x)가 수렴하는 값을 구하세요.
** 정답:1 **