<a href="https://colab.research.google.com/github/Yegee1210/yegeelee/blob/master/3%EC%A3%BC%EC%B0%A8%EA%B3%BC%EC%A0%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 1. 학습률 최적화

간단한 예제를 통해 학습률 최적화의 중요성에 대해서 확인 해 보도록 하겠습니다.

아래 링크에서 1단계만에 손실 곡선의 최저점에 도달하게 하는 학습률을 찾아 정답을 적어주세요

링크: https://developers.google.com/machine-learning/crash-course/fitter/graph?hl=k

 ## 정답 : 1.60

## 2. 군집 분석 9병합 계층 군집) 구현 클론 코딩

군집 분석 강의(군집문제[2] 3:10 ~ 5:20 부분)를 보고 코드를 따라 치며 출력 결과(과제 설명 페이지 참고)를 만드세요.

강의에서는 데이터 시각화까지 진행하지만 과제에서는 표를 출력하는 것 까지만 하시면 됩니다.

3주차 과제 안내 페이지를 보시면 표에 대한 이미지가 있습니다. 참고해주세요

In [0]:
import numpy as np
np.random.seed(123)
x = np.random.random_sample([5,3])*10


import pandas as pd
variables = ['X','Y','Z']
labels = ['ID_0','ID_1','ID_2','ID_3','ID_3']
df = pd.DataFrame(x,columns=variables, index=labels)
df
from scipy.spatial.distance import pdist, squareform
Y = pdist(df)
Y

row_dist = pd.DataFrame(squareform(pdist(df, metric='euclidean')), columns = labels, index = labels)
from scipy.cluster.hierarchy import linkage
row_clusters = linkage(pdist(df, metric='euclidean'), method = 'complete')
pd.DataFrame(row_clusters, columns = ['row label 1','row label 2', 'distance','no. of items in clust.'],index= ['cluster %d' %(i+1) for i in range(row_clusters.shape[0])])

           row label 1  row label 2  distance  no. of items in clust.
cluster 1          0.0          4.0  3.835396                     2.0
cluster 2          1.0          2.0  4.347073                     2.0
cluster 3          3.0          5.0  5.899885                     3.0
cluster 4          6.0          7.0  8.316594                     5.0

## 3. Cost function 구현

In [25]:
import numpy as np
import tensorflow as tf

X = np.array([1,2,3])
Y = np.array([4,5,6])

def cost_func(W, X, Y):
    hypothesis = X*W
    return tf.reduce_mean(tf.square(hypothesis-Y))
for feed_W in range(-5,6,1):
   curr_cost = cost_func(feed_W, X, Y)  
   print("{:6.3f} | {:10.5f}".format(feed_W, curr_cost))

-5.000 |  249.00000
-4.000 |  185.00000
-3.000 |  131.00000
-2.000 |   87.00000
-1.000 |   51.00000
 0.000 |   25.00000
 1.000 |    9.00000
 2.000 |    1.00000
 3.000 |    3.00000
 4.000 |   15.00000
 5.000 |   35.00000