<a href="https://colab.research.google.com/github/Yegee1210/yegeelee/blob/master/%EC%98%88%EC%A7%80%EC%9E%90%EC%B2%B4_%EC%8B%A4%EC%8A%B5%ED%8C%90.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##딕셔너리

In [0]:
apple={"name":"어벤져스 앤드게임", "type":"SF 액션 히어로"}
print(apple)
print(apple["name"])
print(apple["type"])

{'name': '어벤져스 앤드게임', 'type': 'SF 액션 히어로'}
어벤져스 앤드게임
SF 액션 히어로

In [0]:
apple={"name":"7D 건조망고", "type":"당절임", "ingredient":["망고", "설탕", "메타종아황산나트륨", "치자황색소"], "orgin":"필리핀"}
print(apple)
print("name", apple["name"])

{'name': '7D 건조망고', 'type': '당절임', 'ingredient': ['망고', '설탕', '메타종아황산나트륨', '치자황색소'], 'orgin': '필리핀'}
name 7D 건조망고

In [0]:
apple["name"]="태국산 코코넛"
print("name", apple["name"])
print(apple)

name 태국산 코코넛
{'name': '태국산 코코넛', 'type': '당절임', 'ingredient': ['망고', '설탕', '메타종아황산나트륨', '치자황색소'], 'orgin': '필리핀'}

In [0]:
apple["price:"]=5000            #딕셔너리 요소 추가 
print(apple)

{'name': '태국산 코코넛', 'type': '당절임', 'ingredient': ['망고', '설탕', '메타종아황산나트륨', '치자황색소'], 'orgin': '필리핀', 'price:': 5000}

In [0]:
del apple["ingredient"]             #딕셔너리 요소 삭제 
print(apple)

{'name': '태국산 코코넛', 'type': '당절임', 'orgin': '필리핀', 'price:': 5000}

In [0]:
dag = input("접근하고자 하는 키 ")
if dag in apple:
  print(apple[dag])
else :
  print("존재하지 않은 키에 접근하고 있습니다. ")

접근하고자 하는 키 ["name"]
존재하지 않은 키에 접근하고 있습니다.

In [0]:
value=apple.get("제발 있는 값 좀 누르세요")
print("값",value)
if value == None: 
  print("없는 값을 눌렀습니다. ")

값 None
없는 값을 눌렀습니다.

## for 반복문과 딕셔너리 함께 사용하기

In [0]:
apple={"naem":"트와이스", "type":"걸그룹", "컨셉":"유로피안팝"}
for value in apple: 
  print(value, ":", apple[value])
for key in apple: 
  print(key, ":", apple[key])

naem : 트와이스
type : 걸그룹
컨셉 : 유로피안팝
naem : 트와이스
type : 걸그룹
컨셉 : 유로피안팝

In [0]:
# 리스트 안에  중복 요소 몇개 있는지 
apple=[1,2,3,4,56,7,5,4,33,7,10,44,1,45,100]
counter={}
for number in apple: 
  if number in counter:
    counter[number]=counter[number]+1
  else: 
    counter[number]=1  
print(counter)

{1: 2, 2: 1, 3: 1, 4: 2, 56: 1, 7: 2, 5: 1, 33: 1, 10: 1, 44: 1, 45: 1, 100: 1}

In [0]:
# 범위 range
a= range(5)
print(a)
print(list(range(10)))      # 정수 0부터 10미만으이 범위를 리스트로 출력 
print(list(range(0,15,3)))  #0부터 3씩 증가하는 15미만의 숫자

range(0, 5)
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 3, 6, 9, 12]

In [0]:
# for 반복문과 range , in 함꼐 사용
for i in range(3): 
  print(str(i)+"=반복변수")
for i in range(2,5):
  print(str(i)) 
for i in range(0,10,3):
   print(str(i), ":range함수와 for의 결합결과 ")

0=반복변수
1=반복변수
2=반복변수
2
3
4
0 :range함수와 for의 결합결과
3 :range함수와 for의 결합결과
6 :range함수와 for의 결합결과
9 :range함수와 for의 결합결과

In [0]:
# for 반복문과 리스트와  range  조합 
apple=[232,787,595,454,7676]
for element in apple: 
  print(element)   
for i in range(len(apple)):
  print("{}번쨰 반복:{}".format(i, apple[i]))   ## 주의 프린트 할 떄 정의 안에 대괄호 사용 
for i in reversed(range(5)):
  print('현재 반복변수 역으로 큰 숫자부터:{}'.format(i))

232
787
595
454
7676
0번쨰 반복:232
1번쨰 반복:787
2번쨰 반복:595
3번쨰 반복:454
4번쨰 반복:7676
현재 반복변수 역으로 큰 숫자부터:4
현재 반복변수 역으로 큰 숫자부터:3
현재 반복변수 역으로 큰 숫자부터:2
현재 반복변수 역으로 큰 숫자부터:1
현재 반복변수 역으로 큰 숫자부터:0

In [0]:
# while 반복문 : 무한정 반복 ( for는 특정 횟수만큼 반복)
# 형식 : while True or Flase
i=0        # 안 써줘도 무관, 안써져 있으면 0부터 시작함.
while i < 5: 
  print("{}번쨰 반복문입니다.".format(i))
  i +=2    #결과문 0,2,4
## while 해당 값 제거 
apple = [1,5,5,7,8,9]
dag=5

while dag in apple: 
   apple.remove(dag)
print(apple)   # 요소5만 제거 됨

0번쨰 반복문입니다.
2번쨰 반복문입니다.
4번쨰 반복문입니다.
[1, 7, 8, 9]

In [0]:
## break 키워드 
i=0
while True: 
  print("{}번쨰 반복입니다.".format(i))
  i = i +1
  apple = input("종료하시겠습니까?:")
  if apple in ["y", "Y"]:
    print("반복을 종료합니다.")
    break

0번쨰 반복입니다.
종료하시겠습니까?:n
1번쨰 반복입니다.
종료하시겠습니까?:y
반복을 종료합니다.

In [0]:
## continue 키워드  
apple = [12,50,454,2,7,1]
for number in apple: 
  if number < 8:
    continue
  print(number)     # 즉, 8보다 큰 숫자만 출력함

12
50
454

In [0]:
######## 딕셔너리와 리스트, for, range 조랍 예제 (리스트를 딕셔너리 만들기 )
apple = ["name", "hp", "level"]
lemon = ["기사", 200,30,5]
alpabet = {}
for i in range(0, len(apple)): 
  alpabet[apple[i]]=lemon[i]
print(alpabet)

{'name': '기사', 'hp': 200, 'level': 30}

In [0]:
### 연습문제 3번 
limit = 200
i=1
sum_value=0
while sum_value < limit:
  sum_value +=i
  i +=1
print("{}를 더할 때 {}를 넘으면 그때의 값은 {}입니다.".format(i-1, limit, sum_value))

20를 더할 때 200를 넘으면 그때의 값은 210입니다.

In [0]:
############################## 예제 1-100 숫자중 양 끝 자리를 곱했을 떄 최대 값이 되는 경우 
max_value = 0 
a=0
b=0
for i in range(1,100//2+1):
  j=100-i
  current = i*j
if max_value < current:
  a=i
  b=j
  max_value = current
print("최대가 되는 경우 : {}*{}={}".format(a, b, max_value))

최대가 되는 경우 : 50*50=2500

In [0]:
## 현재 인덱스가 몇 번쨰인지 확인하기 : enumerate()
for i, e in enumerate([5,3,7]):
  print(i, ":", e)
  print()
## 예제 )) 리스트에 적용할 수 있는 기본 함수 
print ("리스트에 적용할 수 있는 기본 함수::")
apple = [103,333,3,5,78]
print(min(apple))
print(max(apple))
print(sum(apple))
print(min(103,3,4,5))      #리스트를 사용하지 않고 직접 구하기

0 : 5

1 : 3

2 : 7

리스트에 적용할 수 있는 기본 함수::
3
333
522
3

In [0]:
## reversed() 함수 이용하여 리스트 뒤집기 
apple=[2,65,78,45,54]
apple_reversed=reversed(apple)
for i in reversed(apple):
  print(i)       ### 인덱스 순서대로 인덱스 순서 뒤집어서 그대로 출력

54
45
78
65
2

In [0]:
###### 리스트를 그대로 뒤집는 확장슬라이싱 
apple=[1,2,3,4,5]
print(apple[::-1])
print("안녕하세요"[::-1])

[5, 4, 3, 2, 1]
요세하녕안

In [0]:
#### 예제 
apple = ["사과","레몬", "망고"]
i=0
for item in apple: 
  print("{}번째 요소는 {}입니다.".format(i,item))
  i +=1

### 위의 예제와 다른 방법, 같은 결과 
for i in range(len(apple)):
  print("{}번째 요소는 {}입니당당.".format(i,apple[i]))

#### enumerate() 함수를 사용한 위 예제 다른 방법, 같은 결과 
for i, value in enumerate(apple): 
  print("{}번째 요소는 {}입니다당당당".format(i, value))

0번째 요소는 사과입니다.
1번째 요소는 레몬입니다.
2번째 요소는 망고입니다.
0번째 요소는 사과입니당당.
1번째 요소는 레몬입니당당.
2번째 요소는 망고입니당당.
0번째 요소는 사과입니다당당당
1번째 요소는 레몬입니다당당당
2번째 요소는 망고입니다당당당

In [0]:
### 딕셔너리의 item()함수와 반복문 for 
apple = {"NAEM":"8D 망고", "type":"젤리", "원산지":"필리핀"}
print("*****맛있는 망고 젤리 소개 할께요*****")
print("아이템():", apple.items())

#### 딕셔너리의 item()함수와 for 반복문 조합
for key, value in apple.items():
  print("키값{}=벨류값{}".format(key, value))

*****맛있는 망고 젤리 소개 할께요*****
아이템(): dict_items([('NAEM', '8D 망고'), ('type', '젤리'), ('원산지', '필리핀')])
키값NAEM=벨류값8D 망고
키값type=벨류값젤리
키값원산지=벨류값필리핀

In [0]:
###### 반복문을 사용한 리스트 생성 
apple=[]
for i in range(0,10,2):
  apple.append(i*i)
print(apple)

[0, 4, 16, 36, 64]

In [0]:
apple=["사과","복숭아","자두", "수박", "체리"]
lemon=[fruit for fruit in apple if fruit != "자두"]
print(lemon) # 리스트 형태로 자두 뺴고 출력

['사과', '복숭아', '수박', '체리']

In [4]:
### join() 함수
print(":".join(["연필", "지우개", "자", "필통", "샤프심"]))  
###### reversed()함수와 이터레이터 ( 요소 하나씩 꺼내서 거꾸로 일렬로 출력)  
apple = [1,2,3]
lemon=reversed(apple)
print(next(lemon))
print(next(lemon))
print(next(lemon))

연필:지우개:자:필통:샤프심
3
2
1

In [6]:
### 10진수와 2진수의 변환 
print("{:b}".format(10))
print(int("1010",2))

1010
10

In [9]:
## 1-100 사이에 있는 숫자 중 2진수로 변환했을 때 0 하나만 포함된 숫자를 찾고, 그 숫자들의 합 
apple=[i for i in range(1,101) if "{:b}".format(i).count("0")==1]
for i in apple: 
  print("{}:{}".format(i,"{:b}".format(i)))
print("합계:",sum(apple))

2:10
5:101
6:110
11:1011
13:1101
14:1110
23:10111
27:11011
29:11101
30:11110
47:101111
55:110111
59:111011
61:111101
62:111110
95:1011111
합계: 539

In [17]:
## 함수 형식은 def 변수: 
##                print("안녕")
##             (def 와 같은 선상 : 변수()) 
def apple():
  print("나는 망고가 좋아")
apple()  

## 변수 2개 지정 
def apple(value, n):
  for i in range(n):
    print(value)
apple("6월은 망고스틴의 계절", 3)

나는 망고가 좋아
6월은 망고스틴의 계절
6월은 망고스틴의 계절
6월은 망고스틴의 계절

In [26]:
## 가변 매개변수 함수 
def apple(n, *value):
  for i in range(n):       # n 횟수 
    for lemon in value:    # value 
        print(lemon)
    print()
apple(2, "키위는","새콤하고", "초록색이예요")

키위는
새콤하고
초록색이예요

키위는
새콤하고
초록색이예요

In [27]:
## 다른 형태의 함수 
def apple(a, b=10, c=100):
  print(a+b+c)
apple(10,20,30)  
apple(a=10,b=100,c=200)
apple(c=10, a=100, b=200)
apple(10,c=200)

60
310
310
220

In [32]:
## 리턴 return 
def apple():
  print("A위치입니다.")
  return
  print("B위치입니다.")
apple()  

## 함수 예제 3
def f(x):
  return 2*x+1
print(f(10))

## 함수 예제4 , 매개변수로 전달된 값들을 모두 곱해서 리턴하는 가변 매개변수 함수
def mul(*values):
  output=1
  for value in values:
    output*=value
  return output
print(mul(5,7,9,10))

A위치입니다.
21
3150

In [33]:
## 반복문 팩토리얼 구하기 
def factorial(n):
  output=1
  for i in range(1, n+1):
    output *= i 
  return output
print("2!:", factorial(2)) 
print("3!:", factorial(3))

2!: 2
3!: 6

In [38]:
### 리스트 평탄화 
example = [ [1, 2, 3],[4,[5, 6]],7,[8, 9] ]
def flatten(data):
  output=[]
  for item in data: 
    if type(item)==list:
      output += flatten(item)
    else: 
      output.append(item) 
  return output

print("원본:", example)
print("변환::", flatten(example))

원본: [[1, 2, 3], [4, [5, 6]], 7, [8, 9]]
변환:: [1, 2, 3, 4, 5, 6, 7, 8, 9]

In [47]:
## 예제 
앉힐수있는최소사람수=2
앉힐수있는최대사람수=10
전체사람의수=100
memo={}
def 문제(남은사람수, 앉힌사람수):
    key =str([남은사람수, 앉힌사람수])
  #종료조건
    if key in memo:
      return memo[key]
    if 남은사람수 <0:
      return 0     # 무효이므로 0을 리턴
    if 남은사람수 ==0:
      return 1       ## 유효하므로 수를 세기 위해 1을 리턴 
   ## 재귀처리
    count = 0 
    for i in range(앉힌사람수, 앉힐수있는최대사람수+1):
      count +=문제(남은사람수-i, i)
    memo[key]=count
    return count
print(문제(전체사람의수, 앉힐수있는최소사람수))

437420

In [51]:
## 튜플 : 리스트는 바꿀수 있음, 튜플은 바꿀 수 없음 
# 람다 : 매개 변수로 함수를 전달하기 위해 함수 구문을 학선하는 것이 번거롭고, 코드 공간 낭비라는 생각이 들때 , 함수를 간단하고 쉽게 선언하는 방법

## 튜플 (요소 변경 불가)
apple=(10,20,30)   
print(apple[0])
print(apple[2])
print(apple)
## 괄호가 없는 튜플 
lemon = 50,60,70,80
print("##괄호가 없는 튜플 값과 자료형 출력:")
print("튜플::", lemon)
print("튜플타입:", type(lemon))

## 괄호가 없는 튜플 예제 
a,b,c = 10,20,30
print("괄호가 없는 튜플을 활용한 할당")
print("a::", a)

## 변수 값을 교환하는 튜플 
a, b = 10,20
print("교환 전 값")
print("a:",a)
# 값을 교환합니다.
a,b=b,a
print("## 교환한 후 값 ##")
print("a:",a)

10
30
(10, 20, 30)
##괄호가 없는 튜플 값과 자료형 출력:
튜플:: (50, 60, 70, 80)
튜플타입: <class 'tuple'>
괄호가 없는 튜플을 활용한 할당
a:: 10
교환 전 값
a: 10
## 교환한 후 값 ##
a: 20

In [61]:
## 람다함수 
def apple(func):
  for i in range(3):   # 횟수 명령어
    func()
def lemon():
   print("안녕하세요용")     # 프린트 명령어 
apple(lemon)     

## 위의 예제에 옆을 돌리는 횟수 추가 
def apple(func):
  for i in range(2):                     # 횟수명령어
      func(i)
def lemon(number):                      # 프린트 명렁어
    print(number,"바다에는 갈매기가 있어요")    ## 넘버 위치 상관 없음 
apple(lemon)


## filter()함수와  map()함수 
# 함수를 선언합니다. 
def power(item):
  return item*item
def under_3(item):
  return item < 3 
#  변수를 선언 함

apple=[1,2,3,4]

# map 함수를 선언합니다. 
lemon=map(power, apple)
print("map 함수 실행 결과")
print("map(power, apple)::", lemon)
print("map(power, apple)::", list(lemon))

#filter 함수를 사용합니다.. 
mango=filter(under_3, apple)
print("filter 함수 결과 ")
print("filter(under_3, apple)::", mango)
print("filter(under_3, apple)::", list(mango))

안녕하세요용
안녕하세요용
안녕하세요용
0 바다에는 갈매기가 있어요
1 바다에는 갈매기가 있어요
map 함수 실행 결과
map(power, apple):: <map object at 0x7f9abae7a470>
map(power, apple):: [1, 4, 9, 16]
filter 함수 결과
filter(under_3, apple):: <filter object at 0x7f9abae7af60>
filter(under_3, apple):: [1, 2]

In [71]:
### 람다 함수 
# 함수를 선언합니다. 
power =lambda x: x*x
under_3 =lambda x: x < 3

# 변수를 선언합니다. 
apple = [1,2,3,4,5]
# map() 함수를 선언합니다. 
lemon = map(power, apple)
print("## map 함수의 결과 ")
print("map(power, apple)::", lemon)
print("map(power, apple)::", list(lemon))
# filter() 함수를 사용합니다. 
mango = filter(under_3, apple)
print("filter 함수의 실행결과")
print("filter(under_3, apple)::", mango)
print("filter(under_3, apple)::", list(mango))


## 위와 같지만 인라인람다를 사용하여 더 간단함 
print("___"*20)

apple = [1,2,3,4,5]
# map 함수 사용 
lemon

## map 함수의 결과
map(power, apple):: <map object at 0x7f9abae7af28>
map(power, apple):: [1, 4, 9, 16, 25]
filter 함수의 실행결과
filter(under_3, apple):: <filter object at 0x7f9abae7ac88>
filter(under_3, apple):: [1, 2]
____________________________________________________________