<a href="https://colab.research.google.com/github/Yegee1210/yegeelee/blob/master/%EC%9D%B4%EC%98%88%EC%A7%80_1%EC%A3%BC%EC%B0%A8_%EA%B3%BC%EC%A0%9C_%EB%8D%B0%EC%9D%B4%ED%84%B0_%EC%82%AC%EC%9D%B4%EC%96%B8%EC%8A%A4_%EC%98%A8%EB%9D%BC%EC%9D%B8_%EC%99%84%EC%A3%BC%EB%B0%98.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1주차 과제 - Python

이 서비스는 Jupyter Notebook 과 비슷한 기능을 갖고 있는 Python 코드를 바로 실행하실 수 있는 Google Collaboratory 입니다.

문제를 잘 읽고 Python 코드가 있는 곳에 느낌표 3개 (!!!) 표시가 있는 곳에 문제와 관련된 코드를 작성해주세요.

## 참고 : 반복문(특히 while) 을 작성하시다가 무한 루프가 발생하면

코드를 실행 하셨다가 코드가 오랫동안 멈추지 않는 경우엔 아래 방법대로 진행해주세요. 
- Colab
  - 상단 메뉴에 '런타임' -> '실행 중단' 을 눌러주세요. (단축키 ctrl + M, I)
  - 단축키가 작동되지 않으면 '런타임' -> '실행 중단' 을 눌러도 됩니다.
- Jupyter Notebook/Lab
  - esc 키를 누릅니다.
  - 키보드 i 를 두 번 누릅니다.

### 1. 전화번호에서 지역번호만 가져오기
(10 점)

아래 tel 이라는 변수에 전화번호가 저장되어 있습니다. 여기에서 **인덱스 값**을 활용하여 지역번호만 code 라는 변수에 저장하는 코드를 작성해주세요.

In [ ]:
tel = "031-1111-2222"

# 아래 코드를 완성해주세요.
# 코드 일부분을 입력해놓았습니다. 활용하셔도 되고 혹은 지우고 원하는 방법으로 만들어보세요.
code = tel[:3]

# 결과를 확인해보는 코드입니다. 
print(code)

031

### 2. 반대로 순서를 뒤집기
(10 점)

order 라는 변수에 1,2,3,4,5,6,7,8,9 문자열이 저장되어 있습니다. 이를 거꾸로 출력하는 코드를 작성해주세요. 

**반드시 인덱스 기능을 활용해야 합니다.**

In [ ]:
order = "1,2,3,4,5,6,7,8,9"
# 아래에 코드를 완성해주세요.
# 코드 일부분을 입력해놓았습니다. 활용하셔도 되고 혹은 지우고 원하는 방법으로 만들어보세요.
order[::-1]

# 결과를 확인해보는 코드입니다.

'9,8,7,6,5,4,3,2,1'

### 3. 리스트에서 가장 마지막 값을 뽑아내기(마지막 값은 뽑은 후 삭제되도록)
(10 점)

노트북을 구매하기 위해 4개의 제품을 선택했고 이를 리스트에 저장했습니다.

products = ["A", "B", "C", "D"]

여기에서 리스트에 있는 **함수**를 활용하여 가장 마지막 제품을 하나 뽑아서 c 라는 변수에 저장해주세요.

In [ ]:
products = ["A", "B", "C", "D"]
# 아래에 코드를 완성해주세요.
c=products[-1]
products.pop()
# 코드 일부분을 입력해놓았습니다. 활용하셔도 되고 혹은 지우고 원하는 방법으로 만들어보세요.
print(c)
print(products)

D
['A', 'B', 'C']

### 4. 형변환
(10 점)

아래 4개의 변수에는 각각 설문 응답여부를 1(응답), 0(미응답) 형태로 저장되어 있습니다.
이를 boolean 타입을 변경하려 합니다. 형변환을 통해 boolean 타입으로 같은 이름의 변수에 덮어써주세요.

즉 1(응답) 이면 True, 0(미응답) 은 False 로 출력 해주세요.

In [ ]:
# 아래 4줄 코드는 수정하지 마세요.
check1 = 1
check2 = 0
check3 = 0
check4 = 1
# 아래에 코드를 작성해주세요. 
print("check1:",bool(check1))
print("check2:",bool(check2))
print("check3:",bool(check3))
print("check4:",bool(check4))

check1: True
check2: False
check3: False
check4: True

### 5. 나이에 따른 버스 요금
(10 점)

사용자에게 나이(변수명 : age)를 입력받은 후, 아래의 운임요금(변수명 : fare) 기준에 맞게 버스 요금을 계산해주세요.

- 7세 이하 : 0원
- 8세 이상 ~ 20세 이하 : 700원
- 21세 이상 : 1200원

참고 : 변수명은 예시이며 Python 변수명 규칙에 따라 자유롭게 작성하시면 됩니다.

In [ ]:
age=int(input("나이를 입력하세요")) 
if age<=7: 
  print("0원")
elif age<=20: 
  print("700원")
else: 
  print("1200원")

나이를 입력하세요21
1200원

### 6. 4번째 고객마다 상품권 증정 

(10 점)

방문하는 고객 중 5번째 마다 상품권을 증정( status = "상품권 증정" ) 하는 코드를 작성해주세요.

In [ ]:
# 여기에 코드를 작성해주세요.
index=1
while index <= 50:
    if index%5==0:
        print("count:{0}번째 손님 상품권 증정".format(index))
    else:
        print("count:{0}번째 손님 증정 없음".format(index))
    index += 1

    #  while  무한 루프로 돌아가  50번 숫자 제한을 추가함

count:1번째 손님 증정 없음
count:2번째 손님 증정 없음
count:3번째 손님 증정 없음
count:4번째 손님 증정 없음
count:5번째 손님 상품권 증정
count:6번째 손님 증정 없음
count:7번째 손님 증정 없음
count:8번째 손님 증정 없음
count:9번째 손님 증정 없음
count:10번째 손님 상품권 증정
count:11번째 손님 증정 없음
count:12번째 손님 증정 없음
count:13번째 손님 증정 없음
count:14번째 손님 증정 없음
count:15번째 손님 상품권 증정
count:16번째 손님 증정 없음
count:17번째 손님 증정 없음
count:18번째 손님 증정 없음
count:19번째 손님 증정 없음
count:20번째 손님 상품권 증정
count:21번째 손님 증정 없음
count:22번째 손님 증정 없음
count:23번째 손님 증정 없음
count:24번째 손님 증정 없음
count:25번째 손님 상품권 증정
count:26번째 손님 증정 없음
count:27번째 손님 증정 없음
count:28번째 손님 증정 없음
count:29번째 손님 증정 없음
count:30번째 손님 상품권 증정
count:31번째 손님 증정 없음
count:32번째 손님 증정 없음
count:33번째 손님 증정 없음
count:34번째 손님 증정 없음
count:35번째 손님 상품권 증정
count:36번째 손님 증정 없음
count:37번째 손님 증정 없음
count:38번째 손님 증정 없음
count:39번째 손님 증정 없음
count:40번째 손님 상품권 증정
count:41번째 손님 증정 없음
count:42번째 손님 증정 없음
count:43번째 손님 증정 없음
count:44번째 손님 증정 없음
count:45번째 손님 상품권 증정
count:46번째 손님 증정 없음
count:47번째 손님 증정 없음
count:48번째 손님 증정 없음
count:49번째 손님 증정 없음
count:50번째 손님 상품권 증정

In [ ]:
# 출력 결과 예

count : 1 , 증정하지 않음
count : 4 , 증정하지 않음
count : 5 , 상품권 증정
count : 10 , 상품권 증정
count : 15 , 상품권 증정
count : 20 , 상품권 증정
count : 8 , 증정하지 않음
count : 7 , 증정하지 않음

### 7. Dictionary 에 계좌 잔액을 모두 더하는 코드 작성

(10 점)

accounts 라는 딕셔너리의 잔액 (value) 을 total 이라는 변수에 모두 더하여 출력해주세요.

In [ ]:
accounts = {"A계좌": 2322000, "B계좌": 34443000, "C계좌": 6888000}

# 여기에 코드를 작성해주세요.
total = sum(accounts.values())
print(total)

43653000

### 8. List Comprehension 으로 코드 작성해보기

(10 점)

아래와 같이 리스트 요소 중에  '음수' 가 있다면 0 으로 바꿔주는 코드를 **List Comprehension** 으로 작성해보세요. (이외에 방법으로 구현하면 부분배점 5점)

In [ ]:
numbers = [100, 200, -100, -50, 400, 700]


# 여기에 코드를 작성해주세요.
results = [0 if data <= 0 else data
         for data in numbers]

print(results)

[100, 200, 0, 0, 400, 700]

### 9. lambda 함수로 구현하기

(10 점)

아래 함수를 lambda 형식으로 구현해보세요. (이외에 방법으로 구현시 부분배점 5점)

In [ ]:
def add(num):
  return num + 10

print(add(5))

15

In [ ]:
# 여기에 위 add 함수와 같은 기능을 하는 lambda 함수를 구현해보세요. 
add_lambda=lambda num: num+10
print(add_lambda(5))

15

### 10. callback function 으로 계산기 만들기

(10 점)

지난 시간에 만들어 보았던 "더하기", "곱하기" 를 계산해주는 함수를 callback function 으로 구현해보세요.

#### 코드
```python
def calc(option, num1 = 100, num2 = 100):

  if option == "더하기":
    total = num1 + num2
  elif option == "곱하기":
    total = num1 * num2
  else:
    total = 0

  return total
```

#### callback function 으로 구현할 때 지켜야 할 사항
1. "더하기" 는 add(), "곱하기" 는 mul() 라는 함수를 만듭니다.
2. 실제 사용자가 더하기 혹은 곱하기 계산을 시키기 위해 사용할 함수 이름은 calc() 입니다.
3. 위 샘플 함수내에 조건문에 else 는 무시합니다.
4. 위 샘플 함수처럼 숫자값을 입력하지 않으면 기본적으로 각각 100 을 할당하게 해주세요.

In [ ]:
# 여기에 코드를 구현해주세요.

def calc(func, num1=100, num2=100):
    return func(num1, num2)
def add(num1, num2):
    return num1 + num2
def mul(num1, num2):
    return num1*num2

In [ ]:
# 코드 실행 예

calc(add)

200

In [ ]:
# 코드 실행 예

calc(mul, 3, 3)

9